/.RoboProseDescriptionLabelProvider.java._trace
/.RoboProseLabelProvider.java._trace
/.RoboProseDescriptionLabelProvider.xtendbin
/.RoboProseLabelProvider.xtendbin
/RoboProseDescriptionLabelProvider.java
/RoboProseLabelProvider.java
